@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #232d42;
  color: #fbf9f9;
  font-family: "Poppins", sans-serif;
  ;
}

.title {
  /* border: 3px solid #fbf9f9; */
  font-weight: bold;
  text-align: center;
}

.inputBarSection {
  /* border: 3px solid #fbf9f9; */
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.button {
  display: inline-block;
  position: relative;
  text-align: right;
  margin-left: 16px;
  border-radius: 4px;
  background: #ffc148;
  color: #232d42;
}

.inputBar {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  border: 2px solid rgba(251, 249, 249, 0.70);
  margin-right: 8px;
  padding-left: 8px;
  background: none;
  color: #fbf9f9;
}

.dueDateInput {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  border: 2px solid rgba(251, 249, 249, 0.70);
  margin-left: 8px;
  padding-left: 8px;
  background: none;
  color: #fbf9f9;
}

.container {
  /* border: 3px solid #fbf9f9; */
  margin-top: 16px;
  padding: 8px;
  justify-content: center;
  display: flex;

}

.toDoMainList {
  border: 3px solid #fbf9f9;
  width: 480px;
  margin-right: 8px;
}

.done {
  border: 3px solid #fbf9f9;

  width: 480px;
  margin-left: 8px;

}

.todoTask {
  /* border: 3px solid #fbf9f9; */
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(251, 249, 249, 0.10) 0%, rgba(251, 249, 249, 0.03) 100%);
  margin: 8px;
  padding: 8px;


}

.taskDescription {
  /* border: 3px solid #fbf9f9; */
  text-align: left;
  display: inline-block;
  margin-left: 10%;
  padding: 4px;
  width: 200px;
  height: auto;

}

.isDoneGroup {
  /* border: 3px solid #fbf9f9; */
  display: inline-block;
  text-align: center;
  margin-left: 10%;
  width: 100px;
  height: auto;

}

.isDone {
  /* border: 3px solid #fbf9f9; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.isDoneButton {
  /* border: 3px solid #fbf9f9; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  color: rgba(251, 249, 249, 0.70);
  width: 85%;
}

.taskdueDate {
  /* border: 3px solid #fbf9f9; */
  width: 200px;
  display: inline-block;
  margin-left: 10%;
}

.bin {
  /* border: 3px solid #fbf9f9; */
  display: inline-block;
  margin-left: 20%;
}

.button:hover {
  cursor: pointer;
}

.bin:hover {
  cursor: pointer;
}