@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #232d42;
  color: #fbf9f9;
  font-family: "Poppins", sans-serif;
}

.title {
  /* border: 3px solid #fbf9f9; */
  font-weight: bold;
  text-align: center;
}

.inputBarSection {
  /* border: 3px solid #fbf9f9; */
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 16px;
  border-radius: 4px;
  width: 32px;
  height: 24px;
  background: #ffc148;
  color: #232d42;
  border: none;
}

.inputBar {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  border: 2px solid rgba(251, 249, 249, 0.7);
  margin-right: 8px;
  padding-left: 8px;
  background: none;
  color: #fbf9f9;
  height: 24px;
}

.dueDateInput {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  border: 2px solid rgba(251, 249, 249, 0.7);
  margin-left: 8px;
  padding-left: 8px;
  background: none;
  color: #fbf9f9;
  height: 24px;
}

.container {
  /* border: 3px solid #fbf9f9; */
  margin-top: 16px;
  padding: 8px;
  justify-content: center;
  display: flex;
}

.inProgressList {
  /* border: 3px solid #fbf9f9; */
  width: 480px;
  min-height: 520px;
  margin-right: 8px;
}

.doneList {
  /* border: 3px solid #fbf9f9; */
  width: 480px;
  min-height: 520px;
  margin-left: 8px;
}

.doneTitle,
.inProgressTitle {
  text-align: center;
}

.todoTask {
  /* border: 3px solid #fbf9f9; */
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(251, 249, 249, 0.1) 0%,
    rgba(251, 249, 249, 0.03) 100%
  );
  margin: 8px;
  padding: 8px;
}

.taskDescription {
  /* border: 3px solid #fbf9f9; */
  text-align: left;
  display: inline-block;
  margin-left: 10%;
  padding: 4px;
  width: 200px;
  height: auto;
}

.isDoneGroup {
  /* border: 3px solid #fbf9f9; */
  display: inline-block;
  text-align: center;
  margin-left: 10%;
  width: 100px;
  height: auto;
}

.isDone {
  /* border: 3px solid #fbf9f9; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.isDoneButton {
  /* border: 3px solid #fbf9f9; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  color: rgba(251, 249, 249, 0.7);
  width: 85%;
}

.taskdueDate {
  /* border: 3px solid #fbf9f9; */
  width: 200px;
  display: inline-block;
  margin-left: 10%;
}

.bin {
  /* border: 3px solid #fbf9f9; */
  display: inline-block;
  margin-left: 19%;
  border-radius: 4px;
  background: #ffc148;
  color: #232d42;
  border: none;
  width: 40px;
  height: 24px;
}

footer {
  display: block;
  position: static;
  margin-top: 100px;
  text-align: center;
}

.repoLinks {
  color: #fbf9f9;
}

.button:hover {
  cursor: pointer;
}

.bin:hover {
  cursor: pointer;
}
